.cart-item-container {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}

.cart-item-img {
  margin-right: 1.25rem;
  align-self: flex-start;
  width: 10rem;
}

.cart-item-container button {
  display: block;
  margin-top: 1rem;
}
